*{
    margin: 0;
    padding: 0;
}


header{
  background-color: rgb(29, 145, 35);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
}
h1{
    color: #000;
    text-decoration: none;
    font-size: 40px;
}
.main{
    background-color: brown;
    display: flex;
    flex-direction: row;
    height: 400px;
}
.cuadro-1{
    height: 50px;
    background-color: aqua;
}
.cuadro-2{
    height: 50px;
    background-color: rgb(0, 255, 76);
}